.btn {
  padding: 1.5rem 3rem;
  border: 0.1rem solid #5c59f3;
  outline: none;
  color: #5c59f3;
  background-color: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: #5c59f3;
    color: #ffffff;
  }
}
