.card {
  width: 250px;
  height: 360px;
  border-radius: 1.5rem;
  padding: 1.5rem;
  background: #333;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  flex-shrink: 0; /* Prevent card from shrinking in flex container */

  &:hover {
    transform: translateY(-10px);

    &:before {
      opacity: 1;
    }

    .cardinfo {
      opacity: 1;
      transform: translateY(-20px);
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  .cardimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
    }
  }

  .cardtitle {
    align-self: flex-start;
    padding-left: 2.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
  }

  .cardlink {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
