.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  // padding: 3rem 4rem;
  border-bottom: 1px solid #000;
  position: fixed;
  z-index: 1000;

  &.scrolled {
    background-color: var(--background-color);
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .pagelinks {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      justify-content: space-between;
      gap: 3rem;

      .active,
      .link,
      .notActive {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
      }

      .active {
        color: #5c59f3;
        font-size: 1.6rem;
      }
      .link {
        color: #464754;

        &:hover {
          color: #5c59f3;
        }
      }

      li {
        position: relative;
        list-style: none;
        font-weight: 600;

        .basic::after {
          content: '';
          position: absolute;
          height: 3px;
          width: 100%;
          background-color: blue;
          left: 0;
          bottom: -10%;
          border-radius: 2px;
          opacity: 0;
          transform: scaleX(0);
          transition: all 0.5s linear;
          margin-top: 2rem;
        }

        .basic:hover::after {
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }
  }

  .socials {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }
}
